@media all and (max-width: 1080px) {

	.header-wrap {
		padding: 37px 0 47px 10px; 
	}
	/*index*/
	.testimonials {
		width: 50%;
	}
/*portfolio*/
	.pictures {
    padding: 43px 10px;
	}
}
@media all and (max-width: 994px) {
/*index*/
	.testimonials {
		width: 35%;
		padding-right: 20px;
		margin-bottom: 20px;
	}
	.our-clients {
		float: right;
	}
	.info-item h2 {
		font-size: 13px;
	}
	.form-file {
		display: block;
	}
	.download p {
		width: 100%;
		margin-bottom: 20px;
	}
/*contacts*/
	.client-form {
		width: 55%;
	}
}
@media all and (max-width: 884px) {
	.nav-header li {
		padding: 0 20px;
		margin: 0;
	}
	.level2 {
		width: 202px;
		margin-left: -20px;
	}
/*index*/
	.text-banner {
		width: 250px;
		font-size: 35px;
	}
	.info-bg {
		padding-bottom: 0;
	}
	.info {
		display: block;
	}
	.info-item {
	width: 49%;
	padding-right: 15px;
	margin-bottom: 50px;
	vertical-align: top;
	}	
}
@media all and (max-width: 774px) {
	.nav-header li {
		padding: 0 20px 0 5px;
	}
	.nav-header a {
		font-size: 11px;
	}
	.level2 {
		width: 180px;
		margin-left: -5px;
	}
/*index*/
	.our-clients {
		float: none;
		width: 320px;
	}
	.testimonials {
		width: 46%;
	}
	.social-icons {
		text-align: center;
	}
	.footer .social-icons .web-padd {
		padding: 0 0 10px 0;
	}
	.social-icons span {
		display: inline-block;
		width: 50px;
	}
/*contacts*/
	.client-form {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}	
	.location {
		width: 100%;
		vertical-align: top;
	}
	.maps {
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 0;

	}
	.adres {
		display: inline-block;
		vertical-align: top;
	}
/*portfolio*/
	.banner-pic {
		justify-content: space-around;
	}
}
@media all and (max-width: 630px) {
	
	.header-wrap {
		padding: 10px 10px;
		text-align: center;
	}
	.nav-header {
		float: none;
		display: block;
	}
	.nav-header li:last-child {
	    padding-right: 0;
	}
	.nav-header li:nth-of-type(1) {
		padding-left: 0;
	}
	.level1-hover .level2 li{
		padding-left: 10px;
	}
/*index*/
	.our-clients {

		width: 480px;
	}
	.testimonials {
		width: 100%;
	}
/*contacts*/
	.maps {
		display: block;
		margin-bottom: 20px;
	}
	.footer {
		font-size: 12px;
	}
	.footer-wrap {
		display: inline-block;
		margin-bottom: 0;
	}
	.foot {
		display: inline-block;
		width: 30%;
		padding: 0 10px;
		margin-bottom: 20px;
		vertical-align: top;
	}
	.foot1, .foot5 {
		width: 100%;
	}
	.social-icons {
    	text-align: left;
	}
	.social-icons span {
	    width: 147px;
	}
/*portfolio*/
	.tab ul li a, .tab-2 ul li a {
		font-size: 12px;
	}	
}
@media all and (max-width: 500px) {
	.header-wrap {
		height: 60px;
		text-align: inherit;
	}
	.nav-header {
		display: none;
		background: #e8ebf1;
	    border-top: 1px solid #fff;
	    display: none;
	    right: 0;
	    position: absolute;
	    top: 60px;
	    width: 150px;
	    z-index: 10;
	}
	.open .nav-header {
		display: block;
	}
	.nav-header ul li {
	    border-bottom: 1px solid #fff;
	    display: block;
	    margin-left: 0;
	    text-align: center;
	}
	.nav-header ul li a {
		color: #000;
		font-size: 13px;
		line-height: 17px;
		padding: 10px 0;
		display: block;
	}
	.burgher {
		display: block;
	}
	.level2 {
		width: 150px;
		margin-left: -155px;
		top: -5px;
		border-top: 5px solid #2aacc8;
	}
	.arrow {
		left: 6px;
		transform: rotate(90deg);
	}
	.level1-hover:hover .arrow {
		transform: rotate(180deg);
	}
/*index*/
	.text-banner {
	    font-size: 20px;
	    width: 145px;
	}
	.text-banner p {
		text-align: inherit;
	}
	.our-clients {

		width: 320px;
	}
	.item-img {
		width: 150px;
	}
	.info-item {
		width: 100%;
	}
	.download p {
		font-size: 13px;
	}
	.label-file {
		font-size: 15px;
	}
	.footer {
	    padding: 10px;
	}
	.copy {
		width: 100%;
		margin-bottom: 20px;
		font-size: 11px;
	}
	.footer-bg .logo {
		float: none;
	}
	p {
		text-align: justify;
	}
}
